.our-expertise {
    margin: 3em 0;

    &__list {
        overflow: hidden;
        margin-top: 20px;
    }

    &__item {
        float: left;
        padding: 0 1.5em 3em;
        width: 25%;
        text-align: center;

        i {
            display: block;
            font-size: 100px;
            margin-bottom: 12px;
        }

        span {
            display: inline-block;
            font-size: $font-size18;
            font-weight: bold;
            max-width: 150px;
        }
    }
}

// -------------------------- screen: 1024px ---------------------
@media screen and (max-width: 1024px) {
    .our-expertise {
        &__item {
            width: 50%;
        }
    }
}

// -------------------------- screen: 767px ---------------------
@media screen and (max-width: 767px) {
    .our-expertise {
        &__item {
            i {
                font-size: 75px;
            }
        }
    }
}

// -------------------------- screen: 480px ---------------------
@media screen and (max-width: 480px) {
    .our-expertise {
        &__item {
            float: none;
            padding: 0 0 30px;
            width: 100%;
        }
    }
}