.our-partners {
    margin: 3em 0;

    &__item {
        display: inline-block;
        vertical-align: middle;
        padding-right: 3em;
        margin-bottom: 3em;
    }

    &__img {
        max-width: 100%;
    }
}

// -------------------------- screen: 767px ---------------------
@media screen and (max-width: 767px) {
    .our-partners {
        &__item {
            padding-right: 1.5em;
            margin-bottom: 1.5em;
            width: 32%;
        }
    }
}

// -------------------------- screen: 480px ---------------------
@media screen and (max-width: 480px) {
    .our-partners {
        &__item {
            width: 48%;
        }
    }
}