.out-team {
    margin: 3em 0;
    text-align: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // display: inline-block;
        margin: 3.6em auto 0;
    }

    &__item {
        float: left;
        padding: 0 5.5em;
        margin-bottom: 4em;
        width: 39em;
    }

    &__figure {
        margin-bottom: 1.2em;
    }

    &__img {
        margin: 0 auto;
        max-width: 100%;
    }

    &__name {
        font-size: $font-size30;
        font-family: $font-family-PTSerif;
    }

    &__position {
        font-size: $font-size18;
    }
}

// -------------------------- screen: 1200px ---------------------
@media screen and (max-width: 1200px) {
    .out-team {
        &__item {
            padding: 0 2.5em;
            width: 50%;
        }
    }
}

// -------------------------- screen: 767px ---------------------
@media screen and (max-width: 767px) {
    .out-team {
        &__title {
            font-size: 3em;
        }
    }
}

// -------------------------- screen: 480px ---------------------
@media screen and (max-width: 480px) {
    .out-team {
        &__item {
            padding: 0;
            width: 100%;
        }
    }
}