.testimonials {
    margin: 3em 0;

    &__description {
        max-width: 815px;
        margin: 0 auto 6em;
        text-align: center;
    }

    &__title {
        font-size: $font-size36;
        font-weight: bold;
        margin-bottom: 6px;
    }

    &__text {
        font-size: $font-size18;
        font-family: $font-family-PTSerif;
    }
}