input:focus, button:focus {outline: none !important;}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
textarea,
select {
  background-color: $input-bg;
  border: none;
  border-bottom: $input-border;
  border-radius: $input-radius;
  box-shadow: $input-shadow;
  color: $input-color;
  display: block;
  font-size: $input-font-size;
  font-family: $input-font-family;
  font-weight: $input-weight;
  padding: $input-padding;
  height: $input-height;
  width: 100%;
}
::-webkit-input-placeholder {color: $placeholder-color;font-weight: bold;font-style: italic;opacity: 1;}
:-moz-placeholder {color: $placeholder-color;font-weight: bold;font-style: italic;opacity: 1;}
::-moz-placeholder {color: $placeholder-color;font-weight: bold;font-style: italic;opacity: 1;}
:-ms-input-placeholder {color: $placeholder-color;font-weight: bold;font-style: italic;opacity: 1;}
:focus::-webkit-input-placeholder {opacity: 0;}
:focus:-moz-placeholder {opacity: 0;}
:focus::-moz-placeholder {opacity: 0;}
:focus:-ms-input-placeholder {opacity: 0;}
textarea {
  padding: 15px;
  height: 180px;
  resize: none;
  &::-webkit-input-placeholder {color: $placeholder-color;text-align: left;}
  &:-moz-placeholder {color: $placeholder-color;text-align: left;}
  &::-moz-placeholder {color: $placeholder-color;text-align: left;}
  &:-ms-input-placeholder {color: $placeholder-color;text-align: left;}
}

// ========================= Buttons =========================
.btn {
  @include btn();
}
.btn-primary {
  @include btn-primary();
  &--small {
    font-size: $font-size18;
    height: $btn-height-small;
  }
}

// -------------------------- screen: 500px ---------------------
@media screen and (max-width: 500px) {
  ::-webkit-input-placeholder {font-size: 16px;}
  :-moz-placeholder {font-size: 16px;}
  ::-moz-placeholder {font-size: 16px;}
  :-ms-input-placeholder {font-size: 16px;}
}
// -------------------------- screen: 480px ---------------------
@media screen and (max-width: 480px) {
  ::-webkit-input-placeholder {font-size: 14px;}
  :-moz-placeholder {font-size: 14px;}
  ::-moz-placeholder {font-size: 14px;}
  :-ms-input-placeholder {font-size: 14px;}
}
// -------------------------- screen: 420px ---------------------
@media screen and (max-width: 420px) {
  ::-webkit-input-placeholder {font-size: 12px;}
  :-moz-placeholder {font-size: 12px;}
  ::-moz-placeholder {font-size: 12px;}
  :-ms-input-placeholder {font-size: 12px;}
}
// -------------------------- screen: 380px ---------------------
@media screen and (max-width: 380px) {
  ::-webkit-input-placeholder {font-size: 10px;}
  :-moz-placeholder {font-size: 10px;}
  ::-moz-placeholder {font-size: 10px;}
  :-ms-input-placeholder {font-size: 10px;}
}
