@font-face {
  font-family: 'QuandaryFont';
  src: url(.././fonts/QuandaryFont.eot);
  src: url(.././fonts/QuandaryFont.eot#iefix) format("embedded-opentype"), url(.././fonts/QuandaryFont.ttf) format("truetype"), url(.././fonts/QuandaryFont.woff) format("woff"), url(.././fonts/QuandaryFont.svg#QuandaryFont) format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'QuandaryFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sales:before {
  content: "\E900";
  color: #8a42ff;
}

.icon-hands:before {
  content: "\E901";
  color: #8a42ff;
}

.icon-business:before {
  content: "\E902";
  color: #8a42ff;
}

.icon-e-commerce:before {
  content: "\E903";
  color: #8a42ff;
}

.icon-integrations:before {
  content: "\E904";
  color: #8a42ff;
}

.icon-improvement:before {
  content: "\E905";
  color: #8a42ff;
}

.icon-money:before {
  content: "\E906";
  color: #8a42ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 10px;
}

body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0;
  position: relative;
}

figure {
  display: block;
}

img {
  border: none;
  display: block;
}

h1 {
  font-size: 8.4em;
}

h2 {
  font-size: 3.6em;
}

h3 {
  font-size: 2.4em;
}

p {
  font-size: 1.8em;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #83cec6;
  text-decoration: none;
}

a:active,
a.active {
  color: #83cec6;
}

ul {
  list-style-type: none;
}

ul li {
  list-style-type: none;
  display: block;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.hidden {
  display: none !important;
}

.text-regular {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.main {
  display: flex;
  position: relative;
}

.section {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.section__title {
  color: #000;
  font-family: "PT Serif", serif;
  font-size: 3.6em;
  font-weight: bold;
  line-height: normal;
  margin: 30px 0 18px;
  position: relative;
  text-align: left;
}

.section__title:before {
  content: '';
  background-color: #83cec6;
  position: absolute;
  bottom: 3px;
  left: 0;
  height: 6px;
  width: 300px;
}

.section__title span {
  position: relative;
  z-index: 1;
}

input:focus,
button:focus {
  outline: none !important;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
textarea,
select {
  background-color: inherit;
  border: none;
  border-bottom: 6px solid #fff;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  display: block;
  font-size: 1.8em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0 12px;
  height: 60px;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-style: italic;
  opacity: 1;
}

:-moz-placeholder {
  color: #fff;
  font-weight: bold;
  font-style: italic;
  opacity: 1;
}

::-moz-placeholder {
  color: #fff;
  font-weight: bold;
  font-style: italic;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-style: italic;
  opacity: 1;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus:-moz-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

textarea {
  padding: 15px;
  height: 180px;
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: #fff;
  text-align: left;
}

textarea:-moz-placeholder {
  color: #fff;
  text-align: left;
}

textarea::-moz-placeholder {
  color: #fff;
  text-align: left;
}

textarea:-ms-input-placeholder {
  color: #fff;
  text-align: left;
}

.btn {
  border-radius: 0;
  cursor: pointer;
  font-family: "PT Serif", serif;
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  padding: 0 2em;
  display: inline-block;
  white-space: nowrap;
}

.btn-primary {
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  color: #000;
  height: 54px;
  transition-property: background-color, border-color;
  transition-duration: 0s;
  transition-timing-function: ease-in-out;
}

.btn-primary:hover {
  color: #000;
  background-color: #fff;
  border-color: #000;
  opacity: .75;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #fff;
  border-color: #fff;
}

.btn-primary[disabled] {
  opacity: .5;
}

.btn-primary[disabled]:hover,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus {
  background-color: #fff;
  border: none;
  color: #000;
  cursor: default;
}

.btn-primary--small {
  font-size: 1.8em;
  height: 36px;
}

.section__header {
  height: 77em;
}

.section__header,
.section__header--small {
  display: flex;
  align-items: flex-end;
  padding: 3em;
}

.section__header--small {
  height: 36em;
}

.title {
  color: #fff;
  font-size: 8.4em;
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  line-height: 89px;
  text-align: left;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.sub-title {
  color: #fff;
  font-size: 2.4em;
  font-weight: bold;
  font-style: italic;
  max-width: 625px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.page {
  background-color: #e5e5e5;
  flex: 0 0 calc(100% - 300px);
  min-height: 100vh;
}

.page__content {
  padding: 3em 5.5em 29em 4em;
}

.page__title {
  font-size: 3em;
  font-style: italic;
  margin-bottom: 30px;
  padding: 0 30px;
  text-align: center;
}

.page__title:first-child {
  margin: 0 auto;
  max-width: 700px;
}

.question-form {
  background-color: #83cec6;
  padding: 3em 3em 1.8em;
  margin: 3em 0;
}

.question-form__title {
  color: #fff;
  font-family: "PT Serif", serif;
  font-size: 4.8em;
  font-weight: bold;
  text-align: center;
}

.question-form button {
  font-size: 3em;
}

.form {
  padding-top: 3.6em;
  margin: 0 -1.5em;
  text-align: center;
}

.form__field {
  float: left;
  padding: 0 1.5em;
  margin-bottom: 1.8em;
  width: 33.33%;
}

.form__field:nth-child(4) {
  width: 100%;
}

.aside {
  background-color: #001D21;
  padding: 1.5em .5em;
  flex: 0 0 300px;
  width: 300px;
  min-height: 100vh;
}

.aside__panel-btn {
  display: none;
}

.logo__img {
  max-width: 100%;
}

.navbar {
  padding-left: 3em;
  margin-top: 6em;
  margin-bottom: 10.5em;
}

.navbar .menu-item {
  margin-bottom: 1.8em;
}

.navbar .menu-item:last-child {
  margin: 0;
}

.navbar .menu-item.current-menu-item a {
  color: #83cec6;
}

.navbar .menu-item.current-menu-item a:before {
  content: '';
  background-color: #83cec6;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 6px;
  width: 110%;
}

.navbar a {
  color: #fff;
  font-size: 3.6em;
  font-weight: bold;
  position: relative;
}

.footer {
  padding-left: 3em;
}

.footer__item {
  margin-bottom: 1.8em;
}

.footer__item .copy {
  color: #fff;
  font-size: 1.2em;
}

.footer__item .address {
  color: #fff;
  font-size: 1.2em;
}

.footer__item .phone {
  font-size: 1.2em;
  font-weight: bold;
}

.footer__item .privacy__link {
  font-size: 1.2em;
}

.footer__item .digital-marketing {
  color: #fff;
}

.home-header {
  background-image: url(.././images/home-bg.png);
}

.our-expertise {
  margin: 3em 0;
}

.our-expertise__list {
  overflow: hidden;
  margin-top: 20px;
}

.our-expertise__item {
  float: left;
  padding: 0 1.5em 3em;
  width: 25%;
  text-align: center;
}

.our-expertise__item i {
  display: block;
  font-size: 100px;
  margin-bottom: 12px;
}

.our-expertise__item span {
  display: inline-block;
  font-size: 1.8em;
  font-weight: bold;
  max-width: 150px;
}

.our-partners {
  margin: 3em 0;
}

.our-partners__item {
  display: inline-block;
  vertical-align: middle;
  padding-right: 3em;
  margin-bottom: 3em;
}

.our-partners__img {
  max-width: 100%;
}

.out-team {
  margin: 3em 0;
  text-align: center;
}

.out-team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3.6em auto 0;
}

.out-team__item {
  float: left;
  padding: 0 5.5em;
  margin-bottom: 4em;
  width: 39em;
}

.out-team__figure {
  margin-bottom: 1.2em;
}

.out-team__img {
  margin: 0 auto;
  max-width: 100%;
}

.out-team__name {
  font-size: 3em;
  font-family: "PT Serif", serif;
}

.out-team__position {
  font-size: 1.8em;
}

.recent-cases + h3 {
  margin-bottom: 60px;
}

.recent-cases__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  padding-bottom: 3em;
}

.recent-cases__item {
  flex: 0 0 35em;
  max-width: 35em;
  margin-bottom: 3em;
  padding: 0 1.5em;
}

.recent-cases__link {
  border: 2px solid #8a42ff;
  border-radius: 4px;
  display: block;
  padding: 1.8em 1.5em;
  position: relative;
  height: 100%;
  text-align: center;
}

.recent-cases__link:hover:before {
  content: '';
  background-color: rgba(229, 229, 229, 0.95);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.recent-cases__link:hover:after {
  content: attr(data-more);
  color: #000;
  border-bottom: 6px solid #8a42ff;
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  line-height: 37px;
  padding: 0 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.recent-cases__link i {
  font-size: 100px;
}

.recent-cases__link span {
  display: block;
}

.recent-cases__link span:nth-child(2) {
  color: #000;
  font-family: "PT Serif", serif;
  font-size: 3.6em;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 6px;
}

.recent-cases__link span:nth-child(3) {
  color: #000;
  font-size: 1.8em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 6px;
}

.recent-cases__link span:last-child {
  color: #8a42ff;
  font-size: 3em;
  line-height: 37px;
  max-width: 70%;
  margin: 0 auto;
}

.testimonials {
  margin: 3em 0;
}

.testimonials__description {
  max-width: 815px;
  margin: 0 auto 6em;
  text-align: center;
}

.testimonials__title {
  font-weight: bold;
  margin-bottom: 6px;
}

.testimonials__text {
  font-family: "PT Serif", serif;
}

.blog-header {
  background-image: url(.././images/blog-bg.png);
  align-items: flex-start;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: column;
}

.blog {
  padding-bottom: 3em;
  overflow: hidden;
}

.blog__article {
  float: left;
  width: 70%;
}

.blog__aside {
  float: left;
  width: 30%;
  padding-left: 3.6em;
}

.navblog {
  padding-top: 3em;
}

.navblog__title {
  display: inline-block;
  font-family: "PT Serif", serif;
  padding-right: 20px;
  position: relative;
  z-index: 0;
}

.navblog__title:before {
  content: '';
  background-color: #83cec6;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6px;
  width: 100%;
}

.navblog__title span {
  position: relative;
  z-index: 1;
}

.navblog__menu {
  margin-top: 2em;
}

.navblog__item {
  margin-bottom: 1em;
}

.navblog__link {
  color: #000;
  font-size: 1.8em;
}

.navblog__link:hover {
  color: #8a42ff;
  text-decoration: underline;
}

.category {
  padding-top: 3em;
}

.category__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.category__item {
  margin-bottom: 3em;
}

.category__link {
  background-color: #83cec6;
  display: block;
  padding: .2em;
  position: relative;
  height: 32em;
  width: 32em;
}

.category__link:hover,
.category__link:hover > span {
  background-color: #8a42ff;
}

.category__link > span {
  background-color: #83cec6;
}

.category__img {
  max-width: 100%;
}

.category__description {
  padding: 2.2em .2em .4em 3em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.category__label {
  color: #fff;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 2px;
}

.category__text {
  color: #fff;
  display: block;
  font-size: 1.8em;
  font-weight: bold;
}

.category__btns {
  text-align: center;
}

.article-header {
  background-image: url(.././images/blog-post-bg.png);
}

.autor {
  margin-bottom: 3em;
}

.autor__figure {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1em;
  width: 12em;
  height: 12em;
}

.autor__figure img {
  margin-top: -1em;
  margin-left: -3em;
  width: 16.4em;
}

.autor__name {
  font-family: "PT Serif", serif;
  margin-bottom: 18px;
}

.autor__description {
  font-size: 1.2em;
  margin-bottom: 3em;
}

.post h2 {
  color: #000;
  font-size: 3.6em;
  font-weight: bold;
  line-height: normal;
  margin: 30px 0;
  position: relative;
  text-align: left;
}

.post h2 span {
  border-bottom: 6px solid #83cec6;
  padding-right: 10px;
  position: relative;
  z-index: 1;
}

.post h3 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 12px;
}

.post h4 {
  font-family: "PT Serif", serif;
  font-size: 2.4em;
  font-weight: normal;
  margin-bottom: 30px;
}

.post div {
  font-family: "PT Serif", serif;
  line-height: 29px;
  font-size: 1.8em;
  line-height: 29px;
}

.post p {
  font-family: "PT Serif", serif;
  font-size: 1.8em;
  line-height: 29px;
  margin-bottom: 30px;
}

.post ul {
  padding-left: 2em;
  margin-bottom: 3em;
}

.post ul > li {
  display: list-item;
  list-style-type: disc;
}

.post ul ul {
  font-size: .5em;
  margin: 0;
}

.post ul ul > li {
  list-style-type: circle;
}

.post li {
  font-family: "PT Serif", serif;
  font-size: 1.8em;
  line-height: 29px;
}

.post figure {
  margin: 3em 0;
  text-align: center;
}

.post figure img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
}

.post .recent-cases__list {
  justify-content: flex-start;
  padding: 0;
}

.post .recent-cases__list > li.recent-cases__item {
  display: block;
  font-size: 10px;
  margin-right: 36px;
}

.case-studies-header {
  background-image: url(.././images/servise-case-bg.png);
}

.contact-header {
  background-image: url(.././images/contacts-bg.png);
}

.contact-description__title {
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  line-height: 37px;
  max-width: 640px;
  margin: 0 auto 60px;
  text-align: center;
}

.contact-description__text {
  font-family: "PT Serif", serif;
  font-size: 1.8em;
  line-height: 29px;
  max-width: 800px;
  margin: 0 auto 30px;
  text-align: center;
}

.contact-form {
  margin: 0 auto 6em;
  max-width: 966px;
}

.contact-form input[type=text],
.contact-form input[type=password],
.contact-form input[type=email],
.contact-form input[type=tel],
.contact-form textarea,
.contact-form select {
  border-color: #83cec6;
  color: #000;
}

.contact-form ::-webkit-input-placeholder {
  color: #000;
}

.contact-form :-moz-placeholder {
  color: #000;
}

.contact-form ::-moz-placeholder {
  color: #000;
}

.contact-form :-ms-input-placeholder {
  color: #000;
}

.contact-map {
  text-align: center;
}

.contact-map h3 {
  margin-bottom: 18px;
}

.contact-map img {
  display: inline-block;
  max-width: 966px;
}

@media screen and (max-width: 1200px) {
  .out-team__item {
    padding: 0 2.5em;
    width: 50%;
  }

  .blog__article {
    width: 65%;
  }

  .blog__aside {
    width: 35%;
  }
}

@media screen and (max-width: 1024px) {
  .our-expertise__item {
    width: 50%;
  }

  .blog__article,
  .blog__aside {
    float: none;
    width: 100%;
  }

  .blog__aside {
    overflow: hidden;
    padding: 0;
  }

  .autor__figure {
    float: left;
    margin-right: 30px;
  }

  .autor__name {
    padding-top: 6px;
  }

  .autor button {
    clear: both;
  }

  .contact-form button {
    font-size: 2.4em;
    padding: 0 1em;
  }

  .contact-map img {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .main {
    display: block;
  }

  .section__title {
    font-size: 3em;
  }

  .section__title:before {
    width: 200px;
  }

  .title {
    font-size: 5.4em;
    line-height: 60px;
  }

  .sub-title {
    font-size: 1.8em;
  }

  .page {
    margin-left: 50px;
    width: calc(100% - 50px);
  }

  .page__content {
    padding: 3em 2em 9em 1.5em;
  }

  .page__title {
    font-size: 1.8em;
    padding: 0;
  }

  .question-form {
    padding: 3em 1.5em 1.8em;
  }

  .question-form__title {
    font-size: 3em;
    line-height: 36px;
  }

  .question-form button {
    font-size: 2.4em;
    padding: 0 1em;
  }

  .form {
    padding-top: 1.8em;
    margin: 0;
  }

  .form__field {
    float: none;
    padding: 0;
    width: auto;
  }

  .form__field input {
    padding: 0 5px;
  }

  .aside {
    padding-right: 0;
    position: fixed;
    top: 0;
    left: -250px;
    bottom: 0;
    z-index: 100;
    -webkit-transition: left .5s ease;
    -moz-transition: left .5s ease;
    -o-transition: left .5s ease;
    transition: left .5s ease;
  }

  .aside.active {
    left: 0;
    -webkit-transition: left .5s ease;
    -moz-transition: left .5s ease;
    -o-transition: left .5s ease;
    transition: left .5s ease;
  }

  .aside__wrapper {
    padding-right: 50px;
    overflow: auto;
    height: 100%;
  }

  .aside__panel-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
  }

  .aside__panel-btn:before {
    content: '>';
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
  }

  .aside__panel-btn.active:before {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .aside__panel-btn:active {
    background-color: rgba(131, 206, 198, 0.25);
  }

  .navbar a {
    font-size: 3em;
  }

  .home-header {
    height: 100vh;
  }

  .our-expertise__item i {
    font-size: 75px;
  }

  .our-partners__item {
    padding-right: 1.5em;
    margin-bottom: 1.5em;
    width: 32%;
  }

  .out-team__title {
    font-size: 3em;
  }

  .recent-cases__link i {
    font-size: 75px;
  }

  .recent-cases__link span:nth-child(2) {
    font-size: 3em;
    line-height: 36px;
  }

  .testimonials__title {
    font-size: 3em;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 3.6em;
    line-height: 40px;
  }

  .our-expertise__item {
    float: none;
    padding: 0 0 30px;
    width: 100%;
  }

  .our-partners__item {
    width: 48%;
  }

  .out-team__item {
    padding: 0;
    width: 100%;
  }

  .recent-cases__list {
    display: block;
  }

  .recent-cases__item {
    float: none;
    margin: 0 auto 3em;
    padding: 0;
    width: 100%;
  }

  .recent-cases__link span:last-child {
    font-size: 2.4em;
    line-height: 30px;
  }

  .category {
    padding-top: 0;
  }

  .category__link {
    width: 100%;
  }

  .category__description {
    padding: 1.5em;
  }

  .category button {
    font-size: 2.4em;
    padding: 0 1em;
  }

  .autor__figure {
    float: none;
  }

  .autor__name {
    padding-top: 0;
  }
}