* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-size: 10px;
}

body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0;
  position: relative;
}

figure {
  display: block;
}

img {
  border: none;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 8.4em;
  text-align: center;
}

h2 {
  font-size: 3.6em;
  text-align: center;
}

h3 {
  font-size: 2.4em;
}

p {
  font-size: 1.6em;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #83cec6;
  text-decoration: none;
}

a:active,
a.active {
  color: #83cec6;
}

ul {
  list-style-type: none;
}

ul li {
  list-style-type: none;
  display: block;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.hidden {
  display: none !important;
}

.text-regular {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.main {
  display: flex;
  position: relative;
}

.section {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

.section__title {
  color: #000;
  font-family: "PT Serif", serif;
  font-size: 3.6em;
  font-weight: bold;
  line-height: normal;
  margin: 30px 0 18px;
  position: relative;
  text-align: left;
}

.section__title:before {
  content: '';
  background-color: #83cec6;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 300px;
}

input:focus,
button:focus {
  outline: none !important;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
textarea,
select {
  background-color: inherit;
  border: none;
  border-bottom: 6px solid #fff;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  display: block;
  font-size: 1.8em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0 12px;
  height: 60px;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-style: italic;
  opacity: 1;
}

:-moz-placeholder {
  color: #fff;
  font-weight: bold;
  font-style: italic;
  opacity: 1;
}

::-moz-placeholder {
  color: #fff;
  font-weight: bold;
  font-style: italic;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #fff;
  font-weight: bold;
  font-style: italic;
  opacity: 1;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus:-moz-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

textarea {
  padding: 15px;
  height: 180px;
  resize: none;
}

textarea::-webkit-input-placeholder {
  color: #fff;
  text-align: left;
}

textarea:-moz-placeholder {
  color: #fff;
  text-align: left;
}

textarea::-moz-placeholder {
  color: #fff;
  text-align: left;
}

textarea:-ms-input-placeholder {
  color: #fff;
  text-align: left;
}

select {
  background-size: contain;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.custom-select {
  position: relative;
  z-index: 1;
}

.custom-select select {
  height: 0;
  opacity: 0;
  font-size: 0;
  border: 0;
}

.custom-select .select-selected {
  border: 6px solid #fff;
  border-radius: 0;
  font-size: 2.4em;
  font-weight: 400;
  height: 60px;
  position: relative;
  line-height: 60px;
  text-align: center;
}

.custom-select .select-selected:before {
  content: '';
  border-bottom: 2px solid #637ab4;
  border-left: 2px solid #637ab4;
  position: absolute;
  top: calc(50% - 6px);
  right: 18px;
  width: 12px;
  height: 12px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.custom-select .select-selected.select-arrow-active:before {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.custom-select .select-items {
  background-color: #fff;
  border: 6px solid #fff;
  border-radius: 4px;
  color: #637ab4;
  font-size: 2em;
  font-weight: 400;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow: auto;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.custom-select .select-items::-webkit-scrollbar {
  width: 14px;
}

.custom-select .select-items::-webkit-scrollbar-track {
  background-color: #fff;
}

.custom-select .select-items::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  border-radius: 5px;
  border: 5px solid #fff;
}

.custom-select .select-items::-webkit-scrollbar-thumb:hover {
  background-color: #c8c8c8;
}

.custom-select .select-items div {
  cursor: pointer;
  line-height: 40px;
}

.custom-select .select-items div:first-child {
  display: none;
}

.custom-select .select-items div:hover {
  background-color: #e9efff;
}

.custom-select .select-hide {
  display: none;
}

input[type="checkbox"] {
  position: absolute;
  height: 0;
  font-size: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"] + label {
  display: inline-block;
  font-size: 1.8em;
  position: relative;
  padding-left: 2em;
}

input[type="checkbox"] + label:before,
input[type="checkbox"] + label:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"] + label:before {
  border: 1px solid #637ab4;
  border-radius: 3px;
  width: 20px;
  height: 20px;
}

input[type="checkbox"] + label:after {
  display: none;
}

input[type="checkbox"] + label:hover:before {
  background-color: #e9efff;
}

input[type="checkbox"]:checked + label:before {
  background-color: #637ab4;
}

input[type="checkbox"]:checked + label:after {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  display: block;
  top: 6px;
  left: 4px;
  width: 12px;
  height: 6px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.btn {
  border-radius: 0;
  cursor: pointer;
  font-family: "PT Serif", serif;
  font-size: 3em;
  font-weight: bold;
  font-style: italic;
  padding: 0 2em;
  display: inline-block;
}

.btn-primary {
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  color: #000;
  height: 54px;
  transition-property: background-color, border-color;
  transition-duration: 0s;
  transition-timing-function: ease-in-out;
}

.btn-primary:hover {
  color: #000;
  background-color: #fff;
  border-color: #000;
  opacity: .75;
}

.btn-primary:active,
.btn-primary:focus {
  background-color: #fff;
  border-color: #fff;
}

.btn-primary[disabled] {
  opacity: .5;
}

.btn-primary[disabled]:hover,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus {
  background-color: #fff;
  border: none;
  color: #000;
  cursor: default;
}

.btn-primary--small {
  font-size: 1.8em;
  height: 36px;
}

.section__header {
  height: 77em;
}

.section__header,
.section__header--small {
  display: flex;
  align-items: flex-end;
  padding: 3em;
}

.section__header--small {
  height: 36em;
}

.title {
  color: #fff;
  font-size: 8.4em;
  font-family: "PT Serif", serif;
  font-style: normal;
  font-weight: bold;
  line-height: 89px;
  text-align: left;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.sub-title {
  color: #fff;
  font-size: 2.4em;
  font-weight: bold;
  font-style: italic;
  max-width: 625px;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.page {
  background-color: #e5e5e5;
  flex: 0 0 calc(100% - 300px);
  min-height: 100vh;
}

.page__content {
  padding: 3em 5.5em 29em 4em;
}

.question-form {
  background-color: #83cec6;
  padding: 3em 3em 1.8em;
}

.question-form__title {
  color: #fff;
  font-family: "PT Serif", serif;
  font-size: 4.8em;
  font-weight: bold;
  text-align: center;
}

.question-form button {
  font-size: 3em;
}

.form {
  padding-top: 3.6em;
  margin: 0 -1.5em;
  text-align: center;
}

.form__field {
  float: left;
  padding: 0 1.5em;
  margin-bottom: 1.8em;
  width: 33.33%;
}

.form__field:nth-child(4) {
  width: 100%;
}

.aside {
  background-color: #001D21;
  padding: 1.5em .5em;
  flex: 0 0 300px;
  width: 300px;
  min-height: 100vh;
}

.logo__img {
  max-width: 100%;
}

.navbar {
  padding-left: 3em;
  margin-top: 6em;
  margin-bottom: 10.5em;
}

.navbar__item {
  margin-bottom: 1.8em;
}

.navbar__item:last-child {
  margin: 0;
}

.navbar__item.active a {
  color: #83cec6;
}

.navbar__item.active a:before {
  content: '';
  background-color: #83cec6;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 6px;
  width: 220px;
}

.navbar__link {
  color: #fff;
  font-size: 3.6em;
  font-weight: bold;
  position: relative;
}

.footer {
  padding-left: 3em;
}

.footer__item {
  margin-bottom: 1.8em;
}

.footer__item .copy {
  color: #fff;
  font-size: 1.2em;
}

.footer__item .address {
  color: #fff;
  font-size: 1.2em;
}

.footer__item .phone {
  font-size: 1.2em;
  font-weight: bold;
}

.footer__item .privacy__link {
  font-size: 1.2em;
}

.home-header {
  background-image: url(.././images/home-bg.png);
}

.our-partners {
  margin: 3em 0;
}

.our-partners__item {
  display: inline-block;
  vertical-align: middle;
  padding-right: 3em;
  margin-bottom: 3em;
}

.our-partners__img {
  max-width: 100%;
}

.out-team {
  margin: 3em 0;
  text-align: center;
}

.out-team__list {
  display: inline-block;
  margin: 3.6em auto 0;
}

.out-team__item {
  float: left;
  padding: 0 5.5em;
  margin-bottom: 4em;
  width: 39em;
}

.out-team__figure {
  margin-bottom: 1.2em;
}

.out-team__img {
  max-width: 100%;
}

.out-team__name {
  font-size: 3em;
  font-family: "PT Serif", serif;
}

.out-team__position {
  font-size: 1.8em;
}

.testimonials {
  margin: 3em 0;
}

.testimonials__description {
  max-width: 815px;
  margin: 0 auto 6em;
  text-align: center;
}

.testimonials__title {
  font-size: 3.6em;
  font-weight: bold;
  margin-bottom: 6px;
}

.testimonials__text {
  font-size: 1.8em;
  font-family: "PT Serif", serif;
}

.blog-header {
  background-image: url(.././images/blog-bg.png);
  align-items: flex-start;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: column;
}

.blog {
  display: flex;
  padding-bottom: 3em;
}

.blog__article {
  flex: 0 0 calc(100% - 37em);
}

.blog__aside {
  flex: 0 0 37em;
  padding-left: 3.6em;
}

.navblog {
  padding-top: 3em;
}

.navblog__title {
  font-family: "PT Serif", serif;
  font-size: 2.4em;
  font-weight: bold;
  position: relative;
}

.navblog__title:before {
  content: '';
  background-color: #83cec6;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 6px;
  width: 250px;
}

.navblog__menu {
  margin-top: 2em;
}

.navblog__item {
  margin-bottom: 1em;
}

.navblog__link {
  color: #000;
  font-size: 1.8em;
}

.navblog__link:hover {
  color: #8a42ff;
}

.category {
  padding-top: 3em;
}

.category__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

.category__item {
  margin-bottom: 3em;
}

.category__link {
  background-color: #83cec6;
  display: block;
  padding: .2em;
  position: relative;
  height: 32em;
  width: 32em;
}

.category__link:hover,
.category__link:hover > span {
  background-color: #8a42ff;
}

.category__link > span {
  background-color: #83cec6;
}

.category__img {
  max-width: 100%;
}

.category__description {
  padding: 2.2em .2em .4em 3em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.category__label {
  color: #fff;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 2px;
}

.category__text {
  color: #fff;
  display: block;
  font-size: 1.8em;
  font-weight: bold;
}

.category__btns {
  text-align: center;
}

.article-header {
  background-image: url(.././images/blog-post-bg.png);
}

.post h2 {
  color: #000;
  display: inline-block;
  font-size: 3.6em;
  font-weight: bold;
  line-height: normal;
  margin: 30px 0;
  position: relative;
  text-align: left;
}

.post h2:before {
  content: '';
  background-color: #83cec6;
  position: absolute;
  bottom: 0;
  left: 0;
  right: -10px;
  height: 6px;
  z-index: 0;
}

.post h2 span {
  position: relative;
  z-index: 1;
}

.post h3 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 12px;
}

.post h4 {
  font-family: "PT Serif", serif;
  font-size: 2.4em;
  font-weight: normal;
  margin-bottom: 30px;
}

.post div {
  font-family: "PT Serif", serif;
  line-height: 29px;
  font-size: 1.8em;
  line-height: 29px;
}

.post p {
  font-family: "PT Serif", serif;
  font-size: 1.8em;
  line-height: 29px;
  margin-bottom: 30px;
}

.post ul {
  padding-left: 2em;
  margin-bottom: 3em;
}

.post ul > li {
  display: list-item;
  list-style-type: disc;
}

.post ul ul {
  font-size: .5em;
  margin: 0;
}

.post ul ul > li {
  list-style-type: circle;
}

.post li {
  font-family: "PT Serif", serif;
  font-size: 1.8em;
  line-height: 29px;
}

.post figure {
  margin: 3em 0;
  text-align: center;
}

.post figure img {
  display: inline-block;
  margin: 0 auto;
  max-width: 100%;
}

.case-studies-header {
  background-image: url(.././images/servise-case-bg.png);
}

.contact-header {
  background-image: url(.././images/contacts-bg.png);
}