.aside {
    background-color: $bg-aside;  
    padding: 1.5em .5em;
    flex: 0 0 300px;
    width: 300px;
    min-height: 100vh;
}

@media screen and (max-width: 767px) {
    .aside {
        position: fixed;
        top: 0;
        left: -250px;
        bottom: 0;
        z-index: 100;
    }
}