.navbar {
    padding-left: 3em;
    margin-top: 6em;
    margin-bottom: 10.5em;

    .menu-item {
        margin-bottom: 1.8em;
        &:last-child {margin: 0;}

        &.current-menu-item a {
            color: $text-color-active;

            &:before {
                content: '';
                background-color: $bg-active;
                position: absolute;
                left: 0;
                bottom: -3px;
                height: 6px;
                width: 110%;
            }
        }
    }

    a {
        color: $white;
        font-size: $font-size36;
        font-weight: bold;
        position: relative;
    }
}

// -------------------------- screen: 767px ---------------------
@media screen and (max-width: 767px) {
    .navbar {
        a {
            font-size: $font-size30;
        }
    }
}