.section__header {
    height: 77em;

    &, &--small {
        // background-attachment: fixed;
        display: flex;
        align-items: flex-end;
        padding: 3em;
    }

    &--small {
        height: 36em;
    }
}

.title {
    color: $white;
    font-size: $font-size-h1;
    font-family: $font-family-PTSerif;
    font-style: normal;
    font-weight: bold;
    line-height: 89px;
    text-align: left;
    text-shadow: 0 2px 4px $black_80;
}

.sub-title {
    color: $white;
    font-size: $font-size-h3;
    font-weight: bold;
    font-style: italic;
    max-width: 625px;
    text-shadow: 0px 1px 3px $black_25;
}

// -------------------------- screen: 767px ---------------------
@media screen and (max-width: 767px) {
    .title {
        font-size: 5.4em;
        line-height: 60px;
    }

    .sub-title {
        font-size: 1.8em;
    }
}

// -------------------------- screen: 480px ---------------------
@media screen and (max-width: 480px) {
    .title {
        font-size: 3.6em;
        line-height: 40px;
    }
}