- var sectionTitle = 'Quandary gives you the ultimate boost. Let’s discuss how technology can make your business more effective.'

- var title = 'Our expertise'

- var list = [
-    {icon: '', text: 'Custom Business Applications'},
-    {icon: '', text: 'E-commerce Development and Consulting'},
-    {icon: '', text: 'SaaS Customizations /Integrations'},
-    {icon: '', text: 'Process Improvement Consulting'}
-]

