- var sectionTitle = 'Quandary gives you the ultimate boost. Let’s discuss how technology can make your business more effective.'

- var title = 'Our expertise'

- var list = [
-    {icon: '', text: 'Custom Business Applications'},
-    {icon: '', text: 'E-commerce Development and Consulting'},
-    {icon: '', text: 'SaaS Customizations /Integrations'},
-    {icon: '', text: 'Process Improvement Consulting'}
-]


h2.page__title #{sectionTitle}

section.section.our-expertise
    h2.section__title #{title}
    ul.our-expertise__list
        each item in list
            li.our-expertise__item
                i(class=item.icon)
                span #{item.text}