- var sectionTitle = 'Quandary gives you the ultimate boost. Let’s discuss how technology can make your business more effective.'

- var title = 'Our expertise'

- var list = [
-    {icon: 'icon-business', text: 'Custom Business Applications'},
-    {icon: 'icon-e-commerce', text: 'E-commerce Development and Consulting'},
-    {icon: 'icon-integrations', text: 'SaaS Customizations /Integrations'},
-    {icon: 'icon-improvement', text: 'Process Improvement Consulting'}
-]

h3.page__title !{sectionTitle}

section.section.our-expertise
    h2.section__title
        span #{title}
    ul.our-expertise__list
        each item in list
            li.our-expertise__item
                i(class=item.icon)
                span #{item.text}