extends ../base
block title
    | Case Studies

block aside
    include ../components/aside/aside

block content
    .page
        include ../components/case-studies/section_case-studies-header
        .page__content