extends ../base
block title
    | Knowledge

block aside
    include ../components/aside/aside

block content
    .page
        include ../components/blog/section_blog-header
        .page__content.blog
            article.blog__article
                include ../components/blog/section_blog-category
            aside.blog__aside
                include ../components/blog/section_blog-aside