extends ../base
block title
    | Анкета

block aside
    include ../components/aside/aside

block content
    .page
        include ../components/home/section_header
        .page__content
            include ../components/home/section_our-expertise
            include ../components/home/section_recent-cases
            include ../components/home/section_question-form
            include ../components/home/section_our-partners
            include ../components/home/section_testimonials
            include ../components/home/section_our-team
            include ../components/home/section_question-form