extends ../base
block title
    | Post

block aside
    include ../components/aside/aside

block content
    .page
        include ../components/article/section_article-header
        .page__content
            .blog
                article.blog__article
                    include ../components/article/section_article-page
                aside.blog__aside
                    include ../components/article/section_article-aside
        
            include ../components/home/section_question-form