- var title = 'Post categories'
- var navBlog = [
-   {href: '#', text: 'Custom business applications'},
-   {href: '#', text: 'E-Commerce'},
-   {href: '#', text: 'SaaS integrations'},
-   {href: '#', text: 'Process improvement'},
-   {href: '#', text: 'Sales process'}
-]

nav.navblog
    h3.navblog__title
        span #{title}
    ul.navblog__menu
        each item in navBlog
            li.navblog__item
                a.navblog__link(href=item.href) #{item.text}