- var title = 'Quandary blog'
- var subTitle = 'We help you upgrade your business.<br> Get better at business processes and technology:<br> opinion pieces from practitioners and experts.'

header.section.section__header--small.blog-header
    h3.sub-title !{subTitle}
    h1.title !{title}