- var title = 'Get in touch with all your process and technology consulting needs!'
- var text_1 = 'We’re based in the Denver area, but have clients across the globe. We’re available for any questions, inquiries, or troubleshooting requests you might have. Check out our services or blog to see what we’re all about.'
- var text_2 = 'Call us at 720.739.1406 or use the form below to drop us an e-mail.'

section.section.contact-description
    h2.contact-description__title #{title}
    p.contact-description__text #{text_1}
    p.contact-description__text #{text_2}