- var title = 'Or come visit us!'
- var map = require('../../../images/map.jpg') 

section.section.contact-map
    h3.contact-description__title #{title}
    .contact-map__container
        img(src=map)
