- var fields = [
-    {type: 'text', placeholder: 'What’s your name?'},
-    {type: 'email', placeholder: 'What’s your email address?'},
-    {type: 'tel', placeholder: 'What’s your phone number?'},
-    {type: 'text', placeholder: 'What’s the issue that you need help with?'}
-]
- var button = 'Get in touch'

section.section.contact-form
    form.form
        each field in fields
            .form__field
                input(type=field.type placeholder=field.placeholder autocomplete='off')

        button.btn.btn-primary.form_submit #{button}
