- var mainMenu = [
-   {href: "index.html", text: "Services", active: true},
-   {href: "case_studies.html", text: "Case studies"},
-   {href: "knowledge.html", text: "Knowledge"},
-   {href: "contact.html", text: "Contact"}
-]

nav.navbar
    ul.navbar__menu
        each menuItem in mainMenu
            if menuItem.active
                li.menu-item.current-menu-item
                    a(href=menuItem.href) #{menuItem.text}
            else
                li.menu-item
                    a(href=menuItem.href) #{menuItem.text}