// ==================== COLORS =====================
// White
$white: #fff;

// Black
$black: #000;
$black_80: rgba($black, .8);
$black_25: rgba($black, .25);

// Grey
$grey: #c8c8c8;
$grey-lighter: #e5e5e5;

// Blue
$blue: #637ab4;
$blue-lightest: #e9efff;

// Green
$green: #83cec6;

// Purple
$purple: #8a42ff;

// ==================== TEXT COLORS ====================
$text-color-base: $black;
$text-color-active: $green;

// Link style
$link-color: $white;
$link-color-hover: $green;
$link-color-active: $green;

// ==================== BACKGROUND ======================
$bg-base: $white;
$bg-header: $white;
$bg-footer: $grey;
$bg-active: $green;

// ==================== FONT FAMILY ===================
$font-serif: serif;
$font-sans-serif: sans-serif;
$font-family-base: 'Montserrat', sans-serif;
$font-family-Playfair: 'Playfair Display', serif;
$font-family-PTSerif: 'PT Serif', serif;

// ==================== FONT SIZE =======================
// base
$font-size-base: 10px;
// font size
$font-size12: 1.2em;
$font-size14: 1.4em;
$font-size16: 1.6em;
$font-size18: 1.8em;
$font-size20: 2em;
$font-size24: 2.4em;
$font-size30: 3em;
$font-size36: 3.6em;
$font-size48: 4.8em;
$font-size70: 7em;
$font-size84: 8.4em;

// tags
$font-size-h1: $font-size84; // h1
$font-size-h2: $font-size36; // h2
$font-size-h3: $font-size24; // h3
$font-size-p: $font-size16; // p
$font-size-btn: $font-size30; // button
$font-size-input: $font-size18; // select, input, textarea
$font-size-radio: $font-size18; // radio, checkbox

$font-weight-base: normal;
$line-height-base: 1.4;
$letter-spacing-base: 0;

// ==================== BORDERS =======================
$border-color-base: $grey;
$border-width-base: 1px;

$border-style-solid: solid;
$border-style-dotted: dotted;
$border-style-dashed: dashed;

$border-radius-base: 8px;
$border-radius-half: 50%;

$border-solid: $border-width-base $border-style-solid;
$border-dotted: $border-width-base $border-style-dotted;
$border-dashed: $border-width-base $border-style-dashed;

$border-solid-base: $border-solid $border-color-base;

// ==================== FORMS: Buttons =======================
$btn-color: $black;
$btn-font-size: $font-size-btn;
$btn-font-size-mobile: $font-size-btn;
$btn-font-family: $font-family-PTSerif;
$btn-font-style: italic;
$btn-weight: bold;
$btn-padding: 0 2em;
$btn-radius: 0;
$btn-height: 54px;
$btn-height-small: 36px;
// Primary Button
$primary-btn-color: $black;
$primary-btn-color-hover: $black;
$primary-btn-bg-color: $white;
$primary-btn-bg-hover: $white;
$primary-btn-bg-active: $white;
$primary-btn-border: none;
$primary-btn-shadow: 0 2px 6px $black_25;
// ==================== FORMS: Inputs =======================
$input-bg: inherit;
$input-border: 6px solid $white;
$input-radius: 0;
$input-color: $white;
$input-font-size: $font-size-input;
$input-font-family: $font-family-base;
$input-weight: 400;
$input-padding: 0 12px;
$input-shadow: none;
$input-height: 60px;
$placeholder-color: $white;
// ==================== HEADER =======================
$header-bg: $bg-header;
$header-height: 8em;
$header-height-mobile: 8em;