.article-header {
    background-image: url('../images/pages-bg/blog-post-bg.png');
}

.autor {
    margin-bottom: 3em;

    &__figure {
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 1em;
        width: 12em;
        height: 12em;

        img {
            margin-top: -1em;
            margin-left: -3em;
            width: 16.4em;
        }
    }

    &__name {
        font-family: $font-family-PTSerif;
        margin-bottom: 18px;
    }

    &__description {
        font-size: $font-size12;
        margin-bottom: 3em;
    }
}

.post {
    h2 {
        color: $black;
        font-size: $font-size36;
        font-weight: bold;
        line-height: normal;
        margin: 30px 0;
        position: relative;
        text-align: left;
    
        // &:before {
        //   content: '';
        //   background-color: $bg-active;
        //   position: absolute;
        //   bottom: 0;
        //   left: 0;
        //   right: -10px;
        //   height: 6px;
        //   z-index: 0;
        // }
        span {
            border-bottom: 6px solid $bg-active;
            padding-right: 10px;
            position: relative;
            z-index: 1;
        }
    }
    h3 {
        font-size: $font-size30;
        font-weight: bold;
        margin-bottom: 12px;
    }
    h4 {
        font-family: $font-family-PTSerif;
        font-size: $font-size24;
        font-weight: normal;
        margin-bottom: 30px;
    }
    div {
        font-family: $font-family-PTSerif;
        line-height: 29px;
        font-size: $font-size18;
        line-height: 29px;
    }
    p {
        font-family: $font-family-PTSerif;
        font-size: $font-size18;
        line-height: 29px;
        margin-bottom: 30px;
    }
    ul {
        padding-left: 2em;
        margin-bottom: 3em;
        & > li {
            display: list-item;
            list-style-type: disc;
        }
        ul {
            font-size: .5em;
            margin: 0;
            & > li {
                list-style-type: circle;
            }
        }
    }
    li {
        font-family: $font-family-PTSerif;
        font-size: $font-size18;
        line-height: 29px;
    }

    figure {
        margin: 3em 0;
        text-align: center;
        
        img {
            display: inline-block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .recent-cases__list {
        justify-content: flex-start;
        padding: 0;
        & > li.recent-cases__item {
            display: block;
            font-size: 10px;
            margin-right: 36px;
        }
    }
}

